@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
body {
  font-family: 'Arimo', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 2.5rem 1.5rem;
  overflow: hidden;
}

.card-div {
  width: 241px;
  padding: 0rem 0.5rem;
}

.card-div .card {
  border: 1px solid #d5d4d2;
  width: 100% !important;
}

.card-div .card .card-top-img {
  height: 170px;
}

.card-div .card .card-top-img img {
  width: 100%;
  height: 100%;
}

.card-div .card .card-body {
  padding: 0.75rem;
}

.card-div .card .card-body .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.75rem;
  height: 3.375rem;
  width: 100%;
}

.card-div .card .card-body .user-details .user-profile-picture {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.card-div .card .card-body .user-details .user-profile-picture img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.card-div .card .card-body .user-details .seller-name {
  height: 100%;
  color: #222325;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-div .card .card-body .user-details .seller-name a {
  height: 1.125;
}

.card-div .card .card-body .user-details .seller-name a:hover {
  text-decoration: underline;
}

.card-div .card .card-body .user-details .seller-name .level {
  color: #b5b6ba;
  font-weight: 500;
}

.card-div .card .card-body .title {
  cursor: pointer;
  color: #222325;
  line-height: 22px;
  font-size: 1.05rem;
  font-weight: 500;
  height: 43px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 12px 5px;
  margin-top: 5px;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-div .card .card-body .contact-info .ratings {
  padding: 10px 0px;
  font-size: 0.875;
  line-height: 21px;
  color: #ffbe5b;
  font-weight: 700;
}

.card-div .card .card-body .contact-info .ratings span {
  color: #b5b6ba;
  font-weight: 400;
  margin-left: 2px;
}

.card-div .card .card-footer {
  border-top: 1px solid #efeff0;
  padding: 0.7rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-div .card .card-footer i {
  color: #b5b6ba;
  font-size: 1.25rem;
}

.card-div .card .card-footer .starting-text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #62646a;
  text-transform: uppercase;
  padding: 2px 0 0;
}

.card-div .card .card-footer .price-text {
  padding-left: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-top: 1px;
  color: #62646a;
  text-align: right;
}

.card-div .card:hover .title {
  color: #1dbf73;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  font-size: 1rem;
  opacity: 1 !important;
}

.slick-prev {
  left: -10px !important;
  z-index: 2;
}

.slick-next {
  right: -10px !important;
}

.slick-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #111;
}

.slick-next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #111;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: #fff;
}

.slider {
  -webkit-transition: all .5s;
  transition: all .5s;
}
/*# sourceMappingURL=style.css.map */